<div class="category-list-container">
    <h2>Categorias</h2>
    <button (click)="onCreate()">Nova Categoria</button>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Fixa?</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of categories">
                <td data-label="Nome">{{ cat.name }}</td>
                <td data-label="Tipo">{{ catType(cat.type) }}</td>
                <td data-label="Fixa?">{{ cat.fixed ? 'Sim' : 'Não' }}</td>
                <td data-label="Ações">
                    <button class="edit" (click)="onEdit(cat.id)">Editar</button>
                    <button class="delete" (click)="onDelete(cat.id)">Excluir</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>