<div class="auth-wrapper">
    <div class="bg-shape one"></div>
    <div class="bg-shape two"></div>
    <div class="bg-shape three"></div>
    <div class="bg-shape four"></div>

    <div class="login-card">
        <h2>Bem-vindo de volta!</h2>
        <p class="login-tagline">Acesse sua conta e controle suas finanças</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input id="email" type="email" formControlName="email" placeholder="E-mail" />
                <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                    <small *ngIf="form.get('email')?.errors?.['required']">E-mail obrigatório</small>
                    <small *ngIf="form.get('email')?.errors?.['email']">Formato inválido</small>
                </div>
            </div>

            <div class="input-group">
                <input id="password" type="password" formControlName="password" placeholder="Senha" />
                <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                    <small *ngIf="form.get('password')?.errors?.['required']">Senha obrigatória</small>
                    <small *ngIf="form.get('password')?.errors?.['minlength']">Mínimo 6 caracteres</small>
                </div>
            </div>

            <button type="submit" [disabled]="form.invalid">Entrar</button>
        </form>

        <p class="register-text">
            Não possui conta? <a [routerLink]="['/auth','register']">Cadastre-se</a>
        </p>
    </div>
</div>