<div class="auth-wrapper">
    <div class="bg-shape one"></div>
    <div class="bg-shape two"></div>
    <div class="bg-shape three"></div>
    <div class="bg-shape four"></div>

    <div class="login-card">
        <h2>Recuperar Senha</h2>
        <p class="login-tagline">Digite seu e-mail para receber o link de redefinição</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input id="email" type="email" formControlName="email" placeholder="E-mail cadastrado" />
                <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                    <small *ngIf="form.get('email')?.errors?.['required']">
                        E-mail obrigatório
                    </small>
                    <small *ngIf="form.get('email')?.errors?.['email']">
                        Formato inválido
                    </small>
                </div>
            </div>

            <button type="submit" [disabled]="submitted || form.invalid">
                {{ submitted ? 'Enviando…' : 'Enviar link de recuperação' }}
            </button>
        </form>

        <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
        <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

        <p class="register-text">
            <a [routerLink]="['/auth','login']">Voltar ao Login</a>
        </p>
    </div>
</div>