<div class="auth-wrapper">
    <div class="bg-shape one"></div>
    <div class="bg-shape two"></div>
    <div class="bg-shape three"></div>
    <div class="bg-shape four"></div>

    <div class="login-card">
        <h2>Registrar</h2>
        <p class="login-tagline">
            Crie sua conta e comece a controlar suas finanças
        </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input id="name" type="text" formControlName="name" placeholder="Nome" />
                <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
                    <small>Nome é obrigatório</small>
                </div>
            </div>

            <div class="input-group">
                <input id="email" type="email" formControlName="email" placeholder="E-mail" />
                <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                    <small *ngIf="form.get('email')?.errors?.['required']">
                        E-mail obrigatório
                    </small>
                    <small *ngIf="form.get('email')?.errors?.['email']">
                        Formato inválido
                    </small>
                </div>
            </div>

            <div class="input-group">
                <input id="password" type="password" formControlName="password" placeholder="Senha" />
                <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                    <small *ngIf="form.get('password')?.errors?.['required']">
                        Senha obrigatória
                    </small>
                    <small *ngIf="form.get('password')?.errors?.['minlength']">
                        Mínimo 6 caracteres
                    </small>
                </div>
            </div>

            <button type="submit" [disabled]="form.invalid">Registrar</button>
        </form>

        <p class="register-text">
            Já possui conta? <a [routerLink]="['/auth','login'] ">Entrar</a>
        </p>
    </div>
</div>