**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*~
**/*.csproj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/TestResults
**/node_modules
**/packages
.nuget/
.vs/
.vscode/
Dockerfile
docker-compose.yml
*.md
*.log
*.user
*.suo
*.ncrunch*
*.DS_Store
